*
	margin 0
	padding 0
	list-style none

*, ::after, ::before
	box-sizing border-box
	outline none
	-webkit-tap-highlight-color transparent

html
	background #16160e
	color #f7fcfe
	font-size 15px
	font-family 'JetBrains Mono', monospace

button, input, select
	margin 0.5em 0.1em
	padding 0 0.5em
	height 2em
	border none
	border-radius 4px
	background #2b2b2b
	color inherit
	font inherit
	accent-color inherit

	&:not([disabled])
		&:hover, &:focus
			background #444
			transition all ease 0.1s

	&[disabled]
		color #aaa

.app
	display grid
	height 100vh
	grid-template-columns 1fr 25em

	& > *
		padding 1em

aside
	overflow-y scroll
	height 100%
	border-left 2px solid #2b2b2b

	input, select
		width 8em

h2
	margin 0.5em 0 1em

dl
	display grid
	column-gap 1em
	grid-template-columns 1fr min-content

dt
	margin-top 0.5em
	height 2em
	line-height 2em

.view
	display block
	margin-top 0.5em
	width 100%
	border-radius 0.5em
	background-color #2b2b2b
	aspect-ratio 16 / 9
	object-fit contain
