*
	margin 0
	padding 0
	list-style none

*, ::after, ::before
	box-sizing border-box
	outline none
	-webkit-tap-highlight-color transparent

::selection
	background red
	color white

html
	color rgb(36, 41, 47)
	font-weight 200
	font-size 16px
	font-family 'JetBrains Mono', monospace
	accent-color red

button, input, select
	margin 0.5em 0.1em
	padding 0.2em
	border 2px solid rgb(36, 41, 47)
	border-radius 4px
	background inherit
	color inherit
	font inherit
	accent-color inherit

	&:hover, &:focus
		border-color red

	&[disabled]
		border-style dotted

.app
	display grid
	height 100vh
	grid-template-columns 1fr min-content

	& > *
		padding 0.5em

aside
	overflow-y scroll
	height 100%
	border-left 2px solid currentColor

	input, select
		width 8em

h1
	overflow hidden
	margin 0
	width 8em
	background url('../docs/logo.svg') no-repeat
	background-size contain
	text-indent 100%
	aspect-ratio 10 / 3

h2
	margin 1em 0 0.3em

dl
	display grid
	column-gap 1em
	grid-template-columns min-content 1fr

pre
	width 25em
	white-space pre-wrap
	word-break break-all
	font-size 0.8em

dt
	margin-top 0.5em

.view
	display block
	width 100%
	border-radius 0.5em
	aspect-ratio 16 / 9
	object-fit contain

	&.lv
		background-color rgb(36, 41, 47)
		background-image radial-gradient(circle, #444 15%, transparent 10%), radial-gradient(circle, #444 15%, transparent 10%)
		background-position 0 0, 0px 0px
		background-size 8px 8px

	&.picture
		background linear-gradient(45deg, #444 5%, rgb(36, 41, 47) 5%, rgb(36, 41, 47) 45%, #444 45%, #444 55%, rgb(36, 41, 47) 55%, rgb(36, 41, 47) 95%, #444 95%)
		background-position 0px 0px
		background-size 8px 8px

	& + &
		margin-top 0.5em
