*
	margin 0
	padding 0
	list-style none

*, ::after, ::before
	box-sizing border-box
	outline none
	-webkit-tap-highlight-color transparent

html
	background #16160e
	color #f7fcfe
	font-size 15px
	font-family 'IBM Plex Mono', monospace

h1, h2, h3
	font-weight normal

h1
	margin-bottom 0.5em

a
	color #a0d8ef

input, select, option, button
	padding 0 0.5em
	height 2em
	border none
	border-radius 4px
	background #2b2b2b
	color inherit
	font-size inherit
	font-family 'IBM Plex Mono', monospace
	accent-color inherit

	&.red
		background #a22041

	&:not([disabled])
		&:hover, &:focus-visible
			background #444
			transition all ease 0.1s

	&[disabled]
		color #aaa
